# Dependencias basicas
requests>=2.32.4
lxml>=5.4.0
signxml>=4.1.0
cryptography>=43.0.3
# Opcional para NFS-e
#-r requirements-nfse.txt
# Opcional para Desenvolvimento (Pytest, Ruff, MyPy, etc)
#-r requirements-dev.txt
